* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
}

body {
    background-color: #1b1b1b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imageContainer {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form {
    width: 600px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inputBox {
    margin-bottom: 20px;
}

.inputBox label {
    display: block;
    margin-bottom: 5px;
}

.inputBox input, .inputBox select, .inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
}

.spacer {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #ececec;
}

.FocusInform {
    margin-bottom: 20px;
}

.FocusInform h4 {
    margin-bottom: 10px;
    text-align: center;
}

.FocusInform b {
    color: #007bff;
    font-weight: 700;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.button:hover {
    background-color: #0056b3;
}

.infoBox{
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #ccc;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoBox h1{
    font-size: 15px;
    padding-bottom: 6px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px #ccc;
}
.infoBox h3{
    font-size: 14px;
    width: 100%;
    color: rgb(60,60,60);
}

.focusBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    border: solid 1px #ccc;
    justify-content: center;
    align-items: center;
}
.focusBox img{
    height: 64px;
    width: 64px;
}
.focusBox #focusText{
    padding-left: 10px;
    font-size: 16px;
    color: rgb(60,60,60);
    flex: 1;
    font-weight: 400;
}

.tips{
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #ccc;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tip{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tipBubble{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #000000;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}
.tips p {
    font-size: 16px;
    flex: 1;
}


.emotions, .colors, .luminosities {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.emotion, .color, .luminosity {
    width: 150px;
    height: 150px;
    background: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.emotion[isselected="true"], .color[isselected="true"], .luminosity[isselected="true"]{
    border: solid 2px #b19d2e;
    background-color: #fafafa;
}
.emotion img {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}
.emotion h3, .color h3, .luminosity h3 {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.circleColor {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #cbcbcb;
    border: solid 1px #6a6a6a;
}

.circleLuminosity {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #cbcbcb;
    border: solid 1px #6a6a6a;
}