
/private_data
datasets/sample_queries.csv
/public/models
/schematics
/public/programs
/public/psd
*.sql
private_data.zip
/IconClassTest
/IconClassTest_Images
/IconclassTest_Exploded
/WikiArt
/public/api/__pycache__
/public/api/__pycache__
/FabritiusScreenshots
/FigmaFigures
/Manuscript
/Pipelines
/public/api/__pycache__
/public/notebooks/ablation
/public/notebooks/temp_images
