@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Change font family */
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
:root {
    --background-color: #1a191e;
    --text-color: #e0e0e0;

    --button-bg: #ffffff;
    --button-text: #000000;
    --button-bg-hover: #c9c9c9;
    --button-text-hover: #212121;
    
    --hover-bg: #bbbbbb;
    --border-color: #333333;
    --input-bg: #1f1f1f;
    --input-text: #e0e0e0;
    --container-bg: #2c2b32;
    --keyword-bg: #1f1f1f;
    --keyword-text: #c7c7c7;
    --keyword-bg-enabled: #ffffff;
    --keyword-text-enabled: #000000;

    --search-input-bg: #ffffff;
    --search-button-bg: #ff7676;
    
    --tab-bg: var(--background-color);  
    --tab-handler-bg: #2c2b32;
    --tab-handler-border: var(--border-color);
    --tab-handler-text: #e0e0e0;
    --tab-handler-button-bg: transparent;
    --tab-handler-button-border: #646464;
    --tab-handler-button-color: #a9a9a9;

    --tab-bg-selected: var(--container-bg);
    --tab-handler-bg-selected: #ebebeb;
    --tab-handler-border-selected: #e8e8e8;
    --tab-handler-text-selected: #282828;
    --tab-handler-button-bg-selected: #d4d4d4;
    --tab-handler-button-border-selected: #cecece;
    --tab-handler-button-color-selected: #000000;

    --result-bg: var(--background-color);

    --qb-block-content-bg: rgba(0, 0, 0, 0.15);

    --search-selection-bg: #2c2b32;
    --search-selection-bg-selected: #3c3b42;

    --stabs-selectable-bg: #2c2b32;
    --stabs-selectable-bg-selected: #3c3b42;

    --color-positive: #006800;
    --color-positive-text: #fff;
    --color-negative: #a10000;
    --color-negative-text: #fff;
    --color-warning: #ab6f00;
    --color-warning-text: #fff;

    --button-bg-positive: var(--color-positive);
    --button-text-positive: var(--color-positive-text);
    --button-bg-positive-hover: var(--color-positive-hover);
    --button-text-positive-hover: var(--color-positive-text-hover);
    --button-bg-negative: var(--color-negative);
    --button-text-negative: var(--color-negative-text);
    --button-bg-negative-hover: var(--color-negative-hover);
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff var(--background-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px none #ffffff;
}
    

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 1px;
}
.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.searchContainer input[type="text"] {
    border: 0;
    background: var(--search-input-bg);
    padding: 10px 15px;
    border-radius: 10px;
    width: 300px;
}
.searchContainer button {
    background: var(--search-button-bg);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 10px;
    border: none;
}

.search-results {
    padding: 10px;
    height: -webkit-fill-available;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 70vh;
    overflow: hidden;
    background-color: var(--result-bg);
    border: solid 1px var(--border-color);
    flex-shrink: 0;
    position: relative;
    background: rgb(0,0,0);
}
.result-image {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.result-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.result-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    flex-shrink: 0;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: opacity .3s;
}
.result[is-liked="true"] {
    border-color: green;
}
.result[is-liked="false"] {
    border-color: red;
}
.result:hover {
    border: solid 1px var(--hover-bg);
}
.result:hover .result-content {
    opacity: 1;
}
.result-content h2 {
    font-size: 19px;
    color: #c5c5c5;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
.result-content h3 {
    font-size: 13px;
    color: #a2a2a2;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
.result-infos{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0;
    flex-wrap: wrap;
}
.result-header-sec {
    flex-shrink: 0;
    height: 32px;
}
.result-infos h3 {
    font-size: 15px;
    color: #9b9b9b;
    font-weight: 500;
    text-align: left;
}
.result-infos h3.clickable {
    cursor: pointer;
}
.result-infos h3.clickable:hover {
    color: #c5c5c5;
    text-decoration: underline;
}
.result-infos .bubble {
    background: #9b9b9b;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    flex-shrink: 0;
}
.result-iconography-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 5px;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
}
span.result-iconography {
    padding: 4px 8px;
    border-radius: 2px;
    border: solid 1px var(--border-color);
    background: var(--keyword-bg);
    color: var(--keyword-text);
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}
span.result-iconography[is-in-query="true"] {
    background: var(--keyword-bg-enabled);
    color: var(--keyword-text-enabled);
}
span.result-iconography:hover {
    opacity: .7;
}
.result-similarity {
    padding: 6px;
    background: var(--input-bg);
    align-self: flex-start;
    font-size: 12px;
    border-radius: 5px;
    color: #c5c5c5;
    border: solid 1px var(--border-color);
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4px;
    bottom: 4px;
}
.result-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
}
.result-buttons button {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--border-color);
    color: var(--text-color);
    gap: 8px;
    border-radius: 4px;
    border: unset;
    cursor: pointer;
    height: 36px;
}
.result-buttons button:hover {
    opacity: .7;
}
.result-spacer {
    width: 100%;
    height: 1px;
    margin: 5px 0;
}

.empty-query{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.empty-query h2 {
    color: #646464;
    font-size: 20px;
    font-weight: 500;
}

.empty-query, .no-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.empty-query h2, .no-results h2 {
    color: #646464;
    font-size: 20px;
    font-weight: 500;
}
.resizeHandle {
    height: 100%;
    background: var(--container-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0px var(--border-color);
    border-left-width: 1px;
    border-right-width: 1px;
    color: white;
    font-size: 13px;
    padding: 1px;
    cursor: pointer;
    flex-shrink: 0;
}
.switch{
    width: 36px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--background-color);
    padding: 4px;
}
.tab.selected .switch{
    background-color: var(--button-bg);
}
.tab-handler button.long{
    width: fit-content;
    padding-left: 2px;
    padding-right: 8px;
    gap: 8px;
}
.switch-handler {
    height: 16px;
    width: 16px;
    background: var(--container-bg);
    border-radius: 50%;
    position: relative;
    left: 0;
    transition: all 0.15s;
    cursor: pointer;
}
.switch[is-enabled="false"] .switch-handler {
    left: 0;
    background-color: #8b1414;
}
.switch[is-enabled="true"] .switch-handler {
    left: calc(100% - 16px);
    background-color: #0f7c0f;
}
.empty-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.empty-tabs h2 {
    color: #646464;
    font-size: 20px;
    font-weight: 500;
}
.collections-panel-ghost{
    width: 50px;
}