.query-builder {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.qb-blocks-selector {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    border-top: solid 1px var(--border-color);
}
.qt-blocks-header{
    padding: 10px;
    background: var(--container-bg);
    border-bottom: solid 1px var(--border-color);
}
.qt-blocks-header h3 {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 300;
}
.qt-blocks {
    display: flex;
    flex-direction: row;
}
.qt-blocks button {
    flex: 1;
    border: none;
    background: var(--container-bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.2s;
    cursor: pointer;
}
.qt-blocks button:hover {
    opacity: .5;
}
.qt-blocks button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(1);
}

.qt-blocks button:hover {
    transform: scale(1);
}
.qt-blocks button[block-type="AND"] {
    background: rgb(112, 25, 115);
}
.qt-blocks button[block-type="OR"] {
    background: rgb(25, 64, 115);
}
.qt-blocks button[block-type="EQUAL"] {
    background: rgb(25, 115, 62);
}
.qt-blocks button[block-type="BETWEEN"] {
    background: rgb(100, 115, 25);
}
.qt-blocks button[block-type="INCLUDES"] {
    background: rgb(25, 98, 115);
}
.qt-blocks button[block-type="GROUP"] {
    background: #7e3939;
}
.qb-block[block-type="GROUP"] > .qb-block-header {
    background: var(--background-color);
}
.qb-block[block-type="GROUP"] > .qt-blocks {
    border-bottom: solid 1px var(--border-color);
}

.qt-blocks button span {
    width: 32px;
    height: 32px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.qt-blocks button h3 {
    flex: 1;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.qb-block[block-type="OR"], .qb-block[block-type="AND"]{
    border-radius: 8px;
    overflow: hidden;
}
.qb-block[block-type="OR"] .qb-block-base,
.qb-block[block-type="AND"] .qb-block-base {
    flex: 1;
}

.qb-conditions {
    /* https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px var(--border-color);
    --line-color: rgba(255, 255, 255, 0.046);
    --line-scale: 1px;
    background:
        linear-gradient(-90deg, var(--line-color) calc(var(--line-scale) * 1), transparent calc(var(--line-scale) * 1)),
        linear-gradient(var(--line-color) calc(var(--line-scale) * 1), transparent calc(var(--line-scale) * 1)), 
        linear-gradient(-90deg, var(--line-color) calc(var(--line-scale) * 1), transparent calc(var(--line-scale) * 1)),
        linear-gradient(var(--line-color) calc(var(--line-scale) * 1), transparent calc(var(--line-scale) * 1)),
        linear-gradient(transparent calc(var(--line-scale) * 3), var(--background-color) calc(var(--line-scale) * 3), var(--background-color) 78px, transparent 78px),
        linear-gradient(-90deg, var(--background-color) calc(var(--line-scale) * 1), transparent calc(var(--line-scale) * 1)),
        linear-gradient(-90deg, transparent calc(var(--line-scale) * 3), var(--background-color) calc(var(--line-scale) * 3), var(--background-color) 78px, transparent 78px),
        linear-gradient(var(--background-color) calc(var(--line-scale) * 1), transparent calc(var(--line-scale) * 1)),
        var(--background-color);
    background-size:
        4px 4px,
        4px 4px,
        100px 100px,
        100px 100px,
        100px 100px,
        100px 100px,
        100px 100px,
        100px 100px;
    gap: 10px;
    padding: 20px;
}

.qb-block {
    background: var(--container-bg);
    border: solid 1px var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.qb-block-sep{
    width: 1px;
    height: 32px;
    background: rgba(0, 0, 0, 0.10);
    flex-shrink: 0;
}
.qb-block[block-type="EQUAL"] {
    background: rgb(25, 115, 62);
}
.qb-block[block-type="BETWEEN"] {
    background: rgb(100, 115, 25);
}
.qb-block[block-type="INCLUDES"] {
    background: rgb(25, 98, 115);
}
.qb-block[block-type="GROUP"] {
    background: rgb(44 44 44);
    border-color: #a5a5a5;
    border-right-width: 0;
}
.qb-block-base {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    gap: 10px;
    flex-shrink: 0;
    overflow: hidden;
}
.qb-block-base-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.qb-block-base-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    height: 100%;
    flex-shrink: 0;
}
.qb-block-base-option-repr {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d4d4d;
    font-size: 12px;
    flex-shrink: 0;
}
.qb-block-base-option h5 {
    color: #b5b5b5;
    font-size: 12px;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    flex-shrink: 0;
    font-weight: 500;
}
.qb-block-base-option.enabled .qb-block-base-option-repr{
    background: #2a2a2a;
    color: #fff;
}
.qb-block-base-option.enabled h5{
    color: #fff;
}
.qb-block-base h4 {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-family: "Montserrat";
    flex: 1;
    text-align: right;
}
.qb-block-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-bottom: solid 1px var(--border-color);
    width: 100%;
    overflow: hidden    ;
}
.qb-block-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 8px;
    background: var(--qb-block-content-bg);
    width: 100%;
    gap: 4px;
}
.qd-block-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    width: 100%;
}
select.border.rounded.p-1 {
    padding: 4px;
    border: solid 1px var(--border-color);
    background: white;
    font-size: 12px;
    height: 100%;
    max-height: 50px;
    min-width: 0;
    flex: 1;
    font-weight: 500;
}
.qb-block-input {
    font-size: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    font-weight: 500;
}
.qb-block-input-br {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 4px;
}
.qb-block-input-br input[type="text"] {
    flex: 1;
    background: white;
    height: 100%;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px var(--border-color);
    font-weight: 500;
}
.qb-block-input-br input[type="text"]:disabled {
    opacity: .7;
    cursor: not-allowed;
}
.qb-block-base-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.qb-block-base-buttons button {
    height: 32px;
    width: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #c23616;
    transition: all 0.2s;
    color: #fff;
    border-radius: 8px;
    font-size: 13px;
}
.qb-block-base-buttons button:hover {
    background: #a52a14;
    color: #a0a0a0;
}
.qb-block-input-br-prefix {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    border: solid 1px var(--border-color);
    border-radius: 4px;
}
.qb-block-input-br-prefix h3 {
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: "Montserrat";
}
.qb-block-input-inter {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qb-block-input-inter h4 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat";
    line-height: 0;
}
.qb-block-input-br button {
    height: 32px;
    width: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #4fcb63;
    transition: all 0.2s;
    color: #11531c;
    border-radius: 8px;
}
.qb-block-input-br button:disabled {
    opacity: .7;
    cursor: not-allowed;
    filter: grayscale(1);
}
.qb-block-input-br button:hover {
    background: #338240;
}
.qb-block-input-br button:disabled:hover {
    background: #4fcb63;
}
.qb-block-values {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: solid 1px var(--border-color);
}
.qb-block-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px 6px 12px;
    background: var(--keyword-bg);
    border-radius: 6px;
    border: solid 1px var(--border-color);
    gap: 12px;
}
.qb-block-value h4 {
    font-size: 13px;
    color: var(--keyword-text);
}
.qb-block-value button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--keyword-text);
    line-height: 0;
    height: 20px;
}
.qb-block-value button:hover {
    color: white;
}
.qb-block-values h4 {
    color: var(--text-color);
    font-size: 13px;
    font-family: "Montserrat";
}
.autocomplete-container {
    width: 100%;
    background: #eee;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}
.qb-block[block-type="BETWEEN"] .autocomplete-container {
    width: calc(100% - 36px);
    left: 36px;
}
.qb-block[block-type="INCLUDES"] .autocomplete-container {
    width: calc(100% - 36px);
    left: 0;
}
.autocomplete-option{
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    transition: all 0.2s;
}
.autocomplete-option:hover {
    background-color: rgba(0, 0, 0, 0.10);
}
.autocomplete-option h3 {
    font-size: 12px;
    color: #424242;
}
.autocomplete-option h3:hover {
    color: #000;
}
.autocomplete-loading{
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
}

.qb-block-operation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.qb-block-line {
    flex: 1;
    height: 2px;
    background: rgba(255, 255, 255, 0.40);
}
.qb-block-operation .qb-block-base {
    padding: 8px;
    flex: unset;
    width: 50px;
}
.qb-block-operation .qb-block-base h4 {
    text-align: center;
}
.qb-block-operation[block-type="AND"] {
    background: rgb(112, 25, 115);
}
.qb-block-operation[block-type="OR"] {
    background: rgb(25, 64, 115);
}
.qb-block-operation .qb-block-base-buttons {
    gap: 0;
    height: 100%;
}
.qb-block-operation .qb-block-base-buttons button {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 0;
    width: unset;
}
.qb-block-operation .qb-block-base-buttons button.long {
    width: fit-content;
    padding: 8px 16px;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-size: 12px;
    aspect-ratio: unset;
    border-radius: 0;
    height: 100%;
}
.qb-block-operation .qb-block-base-buttons button.long:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-text-hover);
}
.qb-block-operation .qb-block-base-buttons button.long b {
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat";
}

.qt-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--container-bg);
}
.qt-tools button {
    background: var(--button-bg);
    margin: 10px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--button-text);
}
.qt-tools button:hover {
    background: var(--button-bg-hover);
    color: var(--button-text-hover);
}
.qt-tools button .qt-tool-icon {
    color: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 0;
}
.qt-tools button h3 {
    color: inherit;
    font-size: 12px;
    font-weight: 300;
}
.qt-verif {
    flex: 1;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.qt-verif-header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.qt-verif-header .qt-verif-icon {
    font-size: 20px;
    color: white;
    line-height: 0;
}
.qt-verif-header h3 {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
}
.qt-verif-content h4 {
    font-size: 13px;
    color: #bdbdbd;
}

.qt-verif.invalid .qt-verif-header .qt-verif-icon {
    color: #ff7676;
}
.qt-verif.invalid .qt-verif-header h3 {
    color: #ff7676;
}

.qt-verif.valid .qt-verif-header .qt-verif-icon {
    color: #76ff76;
}
.qt-verif.valid .qt-verif-header h3 {
    color: #76ff76;
}

.qb-block-group-children {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    padding-right: 0;
    width: 100%;
}
.qb-block-group-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.qb-block-group-children-empty{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qb-block-group-children-empty h3 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
}